.shop-container{
    display: grid;
    grid-template-columns: 4fr 1fr;
    
}
.products-container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 45px;
    margin-top: 100px;
    margin-left: 40px;
}

.cart-container{
    background-color: rgb(247, 175, 162);
    border:1px solid gray;


}
/* @media screen  and (max-width:1100px){
    .products-container{
        grid-template-columns: repeat(2fr,1);
    }
} */