.product{
    width: 300px;
    height: 510px;
    border: 1px solid #959595 ; 
    border-radius: 8px;
    position: relative;
    }
.product img{
    width: 286px;
    height: 286px;
    border-radius: 7px;
    justify-content: center;
    margin: 7px;
}
.product-info{
    margin:0 10px;
}

.product-info p{
    margin-bottom: 0;
    margin-top: 2px;
}

.product-name{
margin-top: 7px;
   
}
.btn-cart{
    width: 100%;
    background-color: rgb(250, 163, 148);
    border: none;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    position: absolute;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
.btn-cart .btn-text{
margin-right: 5px;
}
.btn-cart:hover{
    background-color:tomato;
    border: 1px solid rgb(12, 12, 12)
}